*{margin:0;padding:0;}
body {
    margin: 0px!important;
    height: 100%;
}

.header {
    background-color: #0B9A87;
    height: 80px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 80px; */
    font-size: 0.9em;
}

.header h1 {
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
.app {
    height:100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.copyright {
    color: gainsboro;
    font-size: 0.8em;
    text-align: center;
}


.content {
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

/* homepage */
.button {
    margin: 20px;
    width: 130px;
    height: 40px;
    background: rgb(3,172,110);
    background: linear-gradient(90deg, rgba(3,172,110,1) 62%, rgba(45,255,0,1) 100%);
    border: none;
    border-radius: 5px;
    color: #fbfbfb;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: center;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
}


.home_img {
    width:auto;
    height: 60%;
    margin: 2em 0 2em 0;
}

/* menu */
.header h1 {
    font-size: 1.4em;
}

.menu {
    height: 25%;
    width: 35%;
    margin: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.menu img {
    height: 60%;
    margin-bottom: 5%;
    border: 1px solid gray;
    padding: 10px;
}

.menu figcaption {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:#707070;
    height: 20%;
}

.menu a {
    height:100%;
    text-align: center;
}

.title hr{
    margin:20px;
}
.title{
    width:100%;
    text-align:center;
    margin:2%;
}
.title h5{
    height:1px;
    width:100%;
    vertical-align:center;
    line-height:20%;
}
.title .line{
    display:inline-block;
    padding:20px 10px;
    background-color:#fff;
    color:#717171;
}
.main {
    height:80%;
    width: 90%;
	margin:10px auto;
    align:center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.cont{
	border:1px solid #F5F5F5;
	background-color:#FEFEFE;
	margin:10px auto;
	height:50%;
}
.cont h3{
    text-align:center;
    margin:3%;
}
.cont div{
	width:90%;
	margin:10px auto;
	background-color:#F7F7F7;
	padding:10px;

}
.cont .about{
	height:40%;
	width:90%;
	margin:10px auto;
}
.profile_form{
    padding: 1em;
    background-color: #F8F8F8;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_form table{
    width:85%;
    height:80%;
    margin:0px auto;
}
.profile_form input[type=text],.profile_form input[type=date]{
    border:0px;
    border-bottom:1px solid #000;
    width:100%;
    height:30px;
    line-height:30px;
    background-color:#F8F8F8;
}

.btn{
    width:100%;
    margin:10px auto;
    text-align:center;
    display: flex;
    justify-content: space-around;
}
.btn button{
    margin: 0.4em;
    width: 6em;
    /* margin-right: 2em; */
    height: 2.3em;
    background: #4D5656;
    border: none;
    border-radius: 5px;
    color: #fbfbfb;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 0.9em;
    text-align: center;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
}
.bottom{
    width:100%;
    /* height:5%; */
    background-color:#009C86;
    border:1px solid red;
    padding:2% 0;
    line-height: 1.3em;
}
.bottom span{
    display:inline-block;
    text-decoration:none;
    width:23%;
    color:black;
    text-align: center;
    border-right:1px solid #000;
}

.select{
    color:#fff;
}

/* Questionnaire */
.question {
    background-color:#F4F6F6;
    height:auto;
    margin:30 10 10 10px;
    border-radius: 3%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:20px;
}

.select_area {
    flex-direction: row;
    padding:10px;
}

.select_area label {
    margin-right: 5px;
}

.questionnaire {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 80%;
    width: 100%;
    overflow: scroll;
    text-align: center;
}

.questionnaire h2 {
    margin-top: 30px;
    font-size: 16px;
    color:#1B2631 ;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.question_button {
    margin: 20px;
    width: 130px;
    height: 40px;
    background: #4D5656;
    border: none;
    border-radius: 5px;
    color: #fbfbfb;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: center;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
}

.answer {
    margin-top: 20px;
}


.grade {
    background-color:#F4F6F6;
    height:auto;
    margin:30 10 10 10px;
    border-radius: 3%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding:20px;
}

.grade input{
    background-color:#F4F6F6;
    width: 35px;
    margin-left: 10px;
    text-align: center;
}

/* patient */
.click {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}
.click a {
    color: #235da9;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.7em;
    margin-top: 1.4em;
}

.click a:hover {
    color:#7e8484;
}

.click_area {
    display: flex;
    flex-direction: row;
    margin-top: 0.6em;
    justify-content: center;
}
.click_area hr {
    size: 1em;
    width: 2px;
    height: 1.5em;
    margin-right: 10px;
    background-color: #183d69;
    margin-top: 1.4em;
}

.click_area img {
    margin-top: 1.4em;
}

.questionnaire_part2 {
    color:#1B2631 ;
    background-color: #F8F8F8;
    padding: 1em;
    height: 100px;
    margin: 30 10 10 10px;
    /* align-items: center; */
}

.questionnaire_part1 {
    color:#1B2631 ;
    background-color: #F8F8F8;
    padding: 1em;
    height: 100px;
    margin-bottom: 2%;
    margin: 30 10 10 10px;
}

.patient {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 80%;
    width: 100%;
    overflow: scroll;
    text-align: center;
}

.questionnaire_part1 a {
    color: #235da9;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.7em;
    margin-top: 1em;
}

.form{
    padding: 1em;
    background-color: #F8F8F8;
    margin: 10 10 10 10px;
}
.form table{
    width:85%;
    height:80%;
    margin:0px auto;
}
.form input[type=text],.form input[type=date]{
    border:0px;
    border-bottom:1px solid #000;
    width:100%;
    height:30px;
    line-height:30px;
    background-color:#F8F8F8;
}
